html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* lets use this block of css rule for consistency. I have included button-outline to be styled with below code as well. */
button, .button-outline, input {
  border-radius: 30px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

button, .submit {
  background-color: #EB606A;
  border-radius: 30px;
  width: 90px;
  height: 40px;
  color: white;
}

.stack-button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.query {
  height: 50px;
  border-radius: 30px;
  background-color: white;
  border: 2px solid #EB606A;
  color: #EB606A;
  text-align: center;
}

.search {
  border-radius: 30px;
  background-color: white;
  border: 2px solid #B7B7B7;
  text-align: start;
  text-indent: 50px;
}

input, .search {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
}

.wrapper {
  position: relative;
}

.mag-glass {
  position: absolute;
  top: 8px;
  left: 20px;
}

.gradient {
  background: rgb(254,59,115);
  background: linear-gradient(45deg, rgba(254,59,115,1) 30%, rgba(255,104,92,1) 100%);
}

.text-pink {
  color: rgb(254,59,115);
}

.yellow {
  color: #FFCE65;
}

.pink {
  color: #EB606A;
}

.green {
  color: #4CCC93;
}

.gray {
  color: #B7B7B7;
}

h1, h3, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.tab {
  padding: 18px;
  box-shadow: 2px 4px 2px #888888;
}

.cardShadow {
  box-shadow: 2px 2px 8px #888888;
}

.navTop {
  height: 16%;
}

.restaurantPhoto {
  object-fit: cover;
  height: 180px;
  width: 100%;
  border-radius: 15px;
}

.details-text {
  font-size: 12px;
}
